extends base

block content
  table.table.table-striped
    thead
      tr
        th 剧集名
        th 磁力
        th 电驴
        th 小米路由
        th 豆瓣
    tbody
      - for (var i = 0; i < lstmovie.length; ++i) {
      tr
        td <a target="_blank" href="/search?movie=#{lstmovie[i].cname}">#{lstmovie[i].cname}</a> S#{lstmovie[i].season}E#{lstmovie[i].episode}
        td <a target="_blank" href="#{lstmovie[i].magnet}">磁力下载</a>
        td <a target="_blank" href="#{lstmovie[i].ed2k}">电驴下载</a>
        td <a target="_blank" href="http://d.miwifi.com/d2r/?url=#{lstmovie[i].base64url}">下载到小米路由</a>
        td <a target="_blank" href="http://www.douban.com/search?cat=1002&q=#{lstmovie[i].cname}">去豆瓣看看</a>
      -}  